<!--
File: main.component.html
Author: Lukács Eszter
Copyright: 2023, Lukács Eszter
Group: Szoft II/N
Date: 2023-02-07
Github: https://github.com/lukacseszter/
Licenc: GNU GPL
-->

<form>
    <div class="mb-3">
      <label for="inputweight" class="form-label">Súly (testtömeg)</label>
      <input type="weight" class="form-control" id="inputweight" aria-describedby="weighth">
    </div>
    <div class="mb-3">
      <label for="inputheight" class="form-label">Magasság</label>
      <input type="height" class="form-control" id="height">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>