<!--
File: app.component.html
Author: Lukács Eszter
Copyright: 2023, Lukács Eszter
Group: Szoft II/N
Date: 2023-02-07
Github: https://github.com/lukacseszter/
Licenc: GNU GPL
-->

<header class="bg-yellow">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-info mt-2 s-5 fs-2" routerLink="/about">Névjegy</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-info mt-2 s-5 fs-2" routerLink="/main">Főoldal</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-info" routerLink="/github"><img src="assets/images/GitHub_Logo1.png" alt=""></a>
        </li>
    </ul>
</header>
<router-outlet></router-outlet>